.main-login{
  background-color: rgb(11, 183, 198);
}
.image-icon{
  width: 35%;
  height: auto;
  margin: 0 5% 5%;
}
.input-field {
    margin: 1% 5%;
    padding: 10%;
    background-color: #f0f0f0;
    border-radius: 15px;
  }

  .login-button {
    margin: 1% 15%;
    padding: 10%;
    border-radius: 15px;
    background-color: #3b82f6;
    color: white;
    font-size: 18px;
  }
